# Intellij
/.idea/*
*.iml

# Workspace Hidden Folder
/hidden/*

# Jars
/.gradle/*
/buildSrc/.gradle/*
/build/*
*/build/*

# MCP Files
/jars/*
/temp/*
*/temp/*
/conf/*

# Minecraft Sources
/client/src/main/*

# ModLauncher
/logs/*
/run/*

# Mixin
/.mixin.out/*